body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 90%;
}

header nav ul li {
    margin: 0 15px;
}

.cart-icon {
    margin-left: auto;
    position: relative;
    cursor: pointer;
}

#cart-counter {
    position: absolute;
    top: -10px;
    right: -15px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 12px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

main {
    padding: 1rem;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1rem;
    text-align: center;
    width: 200px;
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.product-card h3 {
    margin: 0.5rem 0;
}

.product-card p {
    font-weight: bold;
    color: #333;
}

.product-card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-card button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}
